.mystery-container {
  position: fixed;
  bottom: 0;
  border: 1px solid #ccc;
  border-radius: 0.8rem 0.8rem 0 0;
  background-color: var(--secondary-color);
  overflow: auto;
  color: rgba(255, 255, 255, 0.77);
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.7) transparent;

  width: calc(100% * 6 / 12);
  margin: 0 calc(100vw / 4);
}

.mystery-container::-webkit-scrollbar {
  width: 0.5rem;
}

.mystery-header {
  display: flex;
  justify-content: space-between;
  user-select: none;
  padding: 0.5rem 1rem 0.2rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  cursor: pointer;
}

@media (min-width: 1366px) {
  .mystery-container {
    background-color: rgba(255, 255, 255, 0.03);

    left: calc(50% + (1366px * 4 / 12));
    width: calc(1366px * 2 / 12 - 1%);
    margin: auto;
  }
}

@media (min-width: 1536px) {
  .mystery-container {
    left: calc(50% + (1536px * 4 / 12));
    width: calc(1536px * 2 / 12 - 1%);
  }
}

@media (min-width: 1920px) {
  .mystery-container {
    left: calc(50% + (1920px * 4 / 12));
    width: calc(1920px * 2 / 12 - 1%);
  }
}
